
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:100,200,300,400,500,700,800,900');



/* icons used */
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");

/* The Org type icon at the top right */
.lnr {
  color: red;
  font-size: 25px;
  position: absolute;
  top: 1px;
  right: 1px;

}



/* The avatar css*/
ul.avatars {
	/* margin:0 auto; */
	padding:5; /* avatar starts to the left with alittle padding */
	list-style:none;
	width:100%;
	/* border:1px solid red; for debugging */
	overflow:hidden;
  position: absolute;
  top: 110px;
}
.avatars li, .avatars a { float:left; } /* avatars will be side by side. Starting from left*/

.avatars li img {
	display:inline;
	vertical-align:middle;
  width:30px;/* size of the avatar image*/
	height:30px;/* size of the avatar image*/
  border-radius: 50%; /*circle */
  border: 1px solid green;
}









body {margin:2rem;}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  

}

/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

@media (max-width: 950px) { 

}

